body {
	font-family:'Nanum Square', sans-serif;
	font-size:18px;
	font-weight:normal;
	word-break:break-all;
	background: black;
	overflow-y:scroll;
}

.disablescroll {
  overflow: hidden;
  height: 100vh;
}
.notifications-tr{
  z-index: 100000 !important;
}

.notification-dismiss {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  font-size: 13px !important;
}

a:hover {
  text-decoration: none;
}

.input-inline {
  display: inline-block !important;
}

.cursor-pointer{
  cursor: pointer;
}
